#!/bin/bash
echo ""
echo "######################################################"
echo "#                                                    #"
echo "#     Welcome to $(hostname)                         #"
echo "#                                                    #"
echo "#     Today is: $(date '+%A, %B %d, %Y')             #"
echo "#     Uptime  : $(uptime -p)                         #"
echo "#                                                    #"
echo "#     -- System managed by PsyIT --                  #"
echo "#                                                    #"
echo "######################################################"
echo ""